.recipes{
    background-color: #2c2c31;
    color: darkorange;
    text-align: center;
    padding: 15px 5px;
}

.pNameChef{
    display: inline-block;
    text-align: start;
}


/* recipeDetails page style */
.recipeDetails{
    background-color: rgb(15, 131, 112);
    padding: 1%;
    color: darkorange;
    text-align: center;
    padding-bottom: 15px;
}
.recipeDetailsContent{ 
    text-align: justify;
}

.containerImg{
    position: relative; 
}
.imgDetailDiv{
    display: block; 
    margin: auto;
    width: 50%; 
    
}
.imgDetailRecipe{
    max-height: 480px;
    width: 100%;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    border-radius: 8px;
    
}
.likeDiv{
    background-color: black;
    position: absolute;
    bottom: 0;
    padding-left: 4px;
}

.listIngDetailRecipe{
    border: 1mm ridge rgba(231, 167, 30, 0.6);
    width: 85%;
    margin: 0px auto 10px auto;
}

h2, h3, h4{
    justify-content: center;
}

.commentsDiv{
    border:solid 2px #fff;
    margin-top: 65px;
    padding: 5px;
}

#commentCard{
    background-color: rgb(112, 17, 202);
    color: lavenderblush;
    padding-left: 1%;
    margin: 5px;
}

.commentImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 4px;
}
.btnsDeleteUpdate{
    margin-top: 30px;
}

/* ol, h4{
    color: rgb(247, 246, 240);
     
} */
.ingr{
    display: inline-block;
    border: 1mm ridge rgba(231, 167, 30, 0.6);
    padding-inline: 10px;
    margin-inline: 5px;
    margin-top: 1rem;
}
.instructions{
    background-color: rgb(250, 250, 250);
    padding: 5px;
    color: black;
}
.instructionsDetail{
    /* background-color: rgb(250, 250, 250); */
    padding: 5px;
    border: 1mm ridge rgba(245, 243, 240, 0.6);
    /* color: black; */
}
/* form style */
.formNewRecipe{
    background-color: rgb(39, 38, 39);
    color: rgb(252, 249, 248);
    text-align: center;
    padding-bottom: 15px;
}

/* Ingredients list style */
.listIng{
    border: 1mm ridge rgba(231, 167, 30, 0.6);
    /* width: 60%; */
    margin: auto;
}
.btnRemoveIngr{
    color:rgb(240, 159, 9);
    font-size: 16px;
}

@media (max-width: 768px){
    .listIng{
        width: 95%;
    }

    .imgDetailDiv{
        width: 100%;
    }
}